    .parent {
    width: 200px;
    height: 20px;
    /* background-color: #eee; */
    display: flex;
    align-items: center;
    /* gap: 15px; */

    overflow: hidden;
    border-radius: 4px;
    }
    .parent .line {
    height: 5px;
    margin: 4px;
    background-color: rgb(207, 73, 73);
    animation: rightToLeft 4s linear infinite reverse;
    -webkit-animation: rightToLeft 3s linear infinite reverse;
    }

    .parent .line:nth-child(1) {
    width: 80px;
    }
    .parent .line:nth-child(2) {
    width: 40px;
    }
    .parent .line:nth-child(3) {
    width: 80px;
    }

    @keyframes rightToLeft {
    from {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -o-transform: translateX(200px);
    }

    to {
        transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
    }
    }

    .iconimage {
    margin-top: 50px;
    width: 50%;
    height: 50%;
    text-align: center;
    margin-left: 80px;
    border: 2px solid rgb(233, 222, 222);
    border-radius: 50%;
    }
    .hawya {
    margin: 10px;
    }

    .hawya:hover {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    transition: 0.5s;
    }


 