.greenSection{
    background-color: #108f6e;
    padding: 50px 100px;
}

.iconcounter{
    font-size: 80px;
    padding-bottom: 50px;
    background-color: 108f6e;
    padding-left: 45px;
    color: rgb(202, 198, 198);

}
 